.benefit {
  position: relative;
}

.benefit::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba($black, 0.2);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.benefit:last-of-type::after {
  display: none;
}

.benefit__title {
  text-decoration: none;
  font-family: $Playfair;
  @include font(18px, 20px);
  font-weight: 900;
  color: $black;

  @media (min-width: $tablet-width) {
    @include font(23px, 31px);
  }
}

.benefit__title h3 {
  margin: 0;
  margin-bottom: 8px;
  @include font(18px, 20px);
  font-weight: 900;

  @media (min-width: $tablet-width) {
    @include font(23px, 31px);
  }
}

.benefit__title:hover h3 {
  opacity: 0.6;
}

.benefit__description {
  margin: 0;
  font-family: $Roboto;
  @include font(14px, 21px);
  color: $black;
}