.benefit__title {
  text-decoration: none;
  font-family: $Playfair;
  @include font(23px, 31px);
  font-weight: 900;
  color: $black;
}

.benefit__title h3 {
  margin: 0;
  margin-bottom: 8px;
  @include font(23px, 31px);
  font-weight: 900;
}

.benefit__description {
  margin: 0;
  font-family: $Roboto;
  @include font(14px, 21px);
  color: $black;
}