.logo {
  display: block;
  width: 216px;
  
  @media (min-width: $tablet-width) {
    text-align: center;
    width: 345px;
  }
}

.logo img {
  width: 216px;
  height: 20px;
  
  @media (min-width: $tablet-width) {
    width: 345px;
    height: 32px;
  }
}