.page-footer {
  background-color: $grey;
  padding-top: 36px;
  padding-bottom: 46px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.page-footer__socials {
  margin-top: 70px;
}