.review {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 31.68%;
  }
}

.review__title {
  font-family: $Playfair;
  font-weight: 900;
  text-decoration: none;
  color: $black;
  @include font(18px, 25px);

  @media (min-width: $desktop-width) {
    @include font(23px, 31px);
  }
  
}

.review__title h3 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 900;
  @include font(18px, 25px);

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    @include font(23px, 31px);
    min-height: 0;
  }
}

.review__title:hover h3 {
  opacity: 0.6;
}

.review__text {
  margin: 0;
  font-family: $Roboto;
  @include font(14px, 21px);
  color: $black;

  @media (min-width: $tablet-width) {
    max-width: 370px;
  }
}

.review__image:hover img {
  filter: brightness(0.5);
}