.reviews__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $Roboto;
  @include font(17px, 20px);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.reviews__list {
  @include list-none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 81.12%;
  max-width: 1170px;
  margin-bottom: 43px;
}

.reviews__item {
  margin-right: 2.48%;
  margin-bottom: 10px;
}

.reviews__item:last-of-type {
  margin-right: 0;
}