.season-tickets {
  padding-bottom: 30px;
  padding-top: 20px;
  background-color: $beige;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 36px;
    margin-bottom: 50px;
    background-image: radial-gradient(circle, $white 353px, $beige 353px);
  }
}

.season-tickets__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 15px;
  font-family: $Roboto;
  @include font(20px, 20px);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    @include font(17px, 20px);
  }
}

.season-tickets__list {
  @include list-none;
  margin: 0 auto;
  width: 89%;
  text-align: center;
  
  @media (min-width: $tablet-width) {
    width: 370px;
  }
}

.season-tickets__item {
  padding-bottom: 25px;
  margin-bottom: 24px;
}

.season-tickets__button {
  display: block;
  width: 170px;
  box-sizing: border-box;
  padding: 15px 30px;
  margin: 0 auto;

  text-decoration: none;
  font-family: $Roboto;
  @include font(12px, 14px);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $white;
  text-align: center;
  background-color: $orange;
}