.season-tickets {
  background-image: radial-gradient(circle, $white 353px, $beige 353px);
  padding-bottom: 36px;
  margin-bottom: 50px;
}

.season-tickets__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 33px;
  font-family: $Roboto;
  @include font(17px, 20px);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $black;
  text-align: center;
}

.season-tickets__list {
  @include list-none;
  margin: 0 auto;
  text-align: center;
  width: 370px;
}

.season-tickets__item {
  padding-bottom: 25px;
  margin-bottom: 24px;
}

.season-tickets__button {
  display: block;
  width: 170px;
  box-sizing: border-box;
  padding: 15px 30px;
  margin: 0 auto;

  text-decoration: none;
  font-family: $Roboto;
  @include font(12px, 14px);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $white;
  text-align: center;
  background-color: $orange;
}