.site-navigation {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 89.58%;
    max-width: 1180px;
  }
  

  @media (min-width: $desktop-width) {
    width: 81.5%;
  }
}

.site-navigation__item {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 33.33%;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 52px;
    width: auto;
    text-align: left;
  }
}

.site-navigation__item:last-of-type {
  margin-right: 0;
}

.site-navigation__item::before {
  @media (max-width: $tablet-width - 1) {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $grey;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.site-navigation__item:last-of-type::after {
  @media (max-width: $tablet-width - 1) {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $grey;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.site-navigation a {
  text-decoration: none;
  font-family: $Roboto;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $black;
  @include font(20px, 24px);

  @media (max-width: $tablet-width - 1) {
    display: block;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    @include font(15px, 18px);
  }
}

.site-navigation--footer {
  position: relative;

  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.site-navigation--footer::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $white;
  opacity: 0.4;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.site-navigation--footer a {
  color: $white;
}