.socials__list {
  @include list-none;
  display: flex;
  justify-content: center;
}

.socials__link {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin-right: 14px;
  background-color: $white;
  display: flex;
}

.socials__link:hover {
  opacity: 0.6;
}

.socials__item:last-of-type .socials__link {
  margin-right: 0;
}

.socials__icon {
  margin: auto;
  fill: $grey;
}