.underwater-hotel {
  background-color: $dark-blue;
  background-image: url("../img/bg-underwater.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}

.underwater-hotel::after {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url("../img/icon-underwater.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
}

.underwater-hotel__title {
  margin: 0;
  margin-bottom: 139px;
  padding-top: 133px;
  font-family: $Roboto;
  font-weight: normal;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  letter-spacing: 2px;
  @include font(64px, 70px);

  @media (min-width: $desktop-width) {
    @include font(72px, 84px);
  }
}

.underwater-hotel__description {
  margin: 0 auto;
  padding-bottom: 45px;
  margin-bottom: 44px;
  font-family: $Roboto;
  @include font(14px, 21px);
  color: $white;
  text-align: center;
  width: 456px;
}