@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/roboto-700.woff2") format("woff2"),
    url("../fonts/roboto-700.woff") format("woff");
}

@font-face {
  font-family: "Playfair";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/playfair-display-900.woff2") format("woff2"),
    url("../fonts/playfair-display-900.woff") format("woff");
}
