// Colors

$black: #000000;
$white: #ffffff;
$orange: #ff7931;
$dark-orange: #da4e00;
$beige: #f7f7f7;
$grey: #575757;
$dark-blue: #102536; //Фоновый цвет для картинки Подводный отель

//Fonts

$Roboto: "Roboto", "Arial", sans-serif;
$Playfair: "Playfair", "Times New Roman", serif;